<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="PurchaseMapper">

	<resultMap type="purchase" id="purchaseSelectMap">
		<result property="buyer.userId" column="buyer_id" jdbcType="VARCHAR"/>
		<result property="divyAddr" column="demailAddr" jdbcType="VARCHAR"/>
		<result property="divyDate" column="dlvy_date" jdbcType="VARCHAR"/>
		<result property="orderDate" column="order_data" jdbcType="DATE"/>
		<result property="divyRequest" column="dlvy_request" jdbcType="VARCHAR"/>
		<result property="paymentOption" column="payment_option" jdbcType="CHAR"/>
		<result property="purchaseProd.prodNo" column="prod_no" jdbcType="NUMERIC"/>
		<result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
		<result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
		<result property="tranCode" column="tran_status_code" jdbcType="CHAR"/>
		<result property="tranNo" column="tran_no" jdbcType="NUMERIC"/>
	</resultMap>

	<insert id="addPurchase" parameterType="purchase">
		INSERT 
		INTO transaction
		VALUES (<!-- seq_transaction_tran_no.nextval , -->
				#{tranNo} ,
				#{purchaseProd.prodNo} ,
				#{buyer.userId} ,
				#{paymentOption:CHAR} ,
				#{receiverName:VARCHAR} ,
				#{receiverPhone:VARCHAR} ,
				#{divyAddr:VARCHAR} ,
				#{divyRequest:VARCHAR} ,
				#{tranCode:CHAR} ,
				sysdate ,
				#{divyDate:DATE})
	</insert>
	
	<update id="updatePurchase" parameterType="purchase">
		UPDATE
		transaction
		SET payment_option = #{paymentOption:CHAR} ,
			receiver_name = #{receiverName:VARCHAR} , 
			receiver_phone = #{receiverPhone:VARCHAR} , 
			demailaddr = #{divyAddr:VARCHAR} , 
			dlvy_request = #{divyRequest:VARCHAR} , 
			dlvy_date = #{divyDate:DATE}
		WHERE tran_no in (#{tranNo})
	</update>
	
	<select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
		SELECT
		* 
		FROM transaction 
		WHERE tran_no in (#{value})
	</select>
	
	<update id="updateTranCode" parameterType="purchase">
		UPDATE 
		transaction 
		SET tran_status_code= #{tranCode}
		WHERE tran_no in (#{tranNo})
	</update>
	
	<select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
		SELECT
		*
		FROM ( SELECT
				inner_table.* , ROWNUM AS row_seq
				FROM (	SELECT 
						t.tran_no ,
						t.prod_no ,
						t.buyer_id ,
						t.receiver_name ,
						t.receiver_phone ,
						t.demailAddr ,
						t.tran_status_code ,
						t.order_data ,
						t.dlvy_date , 
						p.prod_name , 
						p.price 
						FROM  transaction t , product p 
						WHERE t.prod_no = p.prod_no 
								AND t.buyer_id in (#{buyerId})
						ORDER BY t.tran_no ) inner_table
			WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
		
	</select>
	
	<select id="getSaleList" parameterType="search" resultMap="purchaseSelectMap">
		SELECT
		*
		FROM ( SELECT
				inner_table.* , ROWNUM AS row_seq
				FROM (	SELECT 
						t.tran_no ,
						t.prod_no ,
						t.buyer_id ,
						t.receiver_name ,
						t.receiver_phone ,
						t.demailAddr ,
						t.tran_status_code ,
						t.order_data ,
						t.dlvy_date , 
						p.prod_name , 
						p.price 
						FROM  transaction t , product p 
						WHERE t.prod_no = p.prod_no 
						ORDER BY t.tran_no ) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}		
	</select>
	 
	<select id="getTotalCount" parameterType="string" resultType="int">
		
		SELECT
		COUNT(*)
		FROM (SELECT 
				t.tran_no ,
				t.prod_no ,
				t.buyer_id ,
				t.receiver_name ,
				t.receiver_phone ,			
				t.demailAddr ,
				t.tran_status_code ,
				t.order_data ,
				t.dlvy_date , 
				p.prod_name , 
				p.price ,
				p.prod_name , 
				p.price 
				FROM  transaction t , product p 
				WHERE t.prod_no = p.prod_no 
						<if test="value != null">
							AND t.buyer_id in (#{buyerId})
						</if>
				ORDER BY t.tran_No)
	</select>
</mapper>